*{
    margin: 0;
}
/* fonts */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&family=Work+Sans&display=swap');

 /* common styles or utilities */
 body{
    font-family: 'Work Sans', sans-serif
}

/*--------------------------
 Header and banner styles 
 ---------------------------*/
 .nav-and-banner{
   background-color: #FFF4E7;
   padding: 50px 180px;
 }
 .header{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .header-menus{
   display: flex;
   gap: 25px;
 }
 .header-menus a{
   color: black;
   text-decoration: none;
   font-weight: 500;
   font-size: 18px;
 }
 .header-title{
   font-weight: 700;
   font-size: 40px;
 }
 .banner{
   text-align: center;
   margin: 0 50px 0;
 }
 .banner-title{
   font-weight: 700;
   font-size: 60px;
   margin: 100px 0 30px;
 }
 .banner img{
   width: 100%;
   margin-top: 50px;
 }


/*--------------------------
 team member styles 
 ---------------------------*/
 .team-member{
   display: flex;
   gap: 50px;
   margin: 100px 150px 0;
   align-items: center;

 }
 .team-photos{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   row-gap: 15px;
   column-gap: 25px;
 }
 .team-photos img{
   width: 300px;
   height: 300px;
 }
 .team-contain-title{
   margin-bottom: 20px;
 }
 .quick-list{
   color: #727272;
   font-weight: 600;
   font-size: 45px;
 }
 .of-our{
   color: #131313;
   font-weight: 700;
   font-size: 45px;
 }
 .feature-color{
   color: #FF900E;
   font-weight: 700;
   font-size: 45px;
 }
 .btn{
   color: white;
   background-color: #FF900E;
   border: none;
   border-radius: 5px;
   padding: 20px 25px;
   margin-top: 20px;
 }

/*--------------------------
 features styles 
 ---------------------------*/
 .features{
   margin: 100px 100px 0;
 }
 .features-container{
   display: flex;
   gap: 100px;
 }
 .feature-title{
   font-weight: 700;
   font-size: 45px;
 }
 .feature-description{
   font-weight: 400;
   font-size: 16px;
   margin: 15px 0 30px;
 }
 .feature-box{
   padding: 30px 40px;
   border-radius: 8px;
   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
   margin-bottom: 20px;
 }
 .feature-box-title{
   font-weight: 600;
   font-size: 20px;
   margin-bottom: 8px;
 }
 .feauture-box-description{
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
 }
 .image img{
   width: 600px;
   height: 800px;
 }
 .experience{
   background-color: #FF900E;
   width: 25%;
   border-radius: 5px;
   padding: 45px 40px;
   text-align: center;
   margin: -60px 0 0 -50px;
   position: relative;
 }

/*--------------------------
 some facts section styles
 --------------------------- */
 .some-fact{
   margin: 100px 200px 0;
 }
 .fact-contain{
   margin-bottom: 50px;
 }
 .box-container{
   display: flex;
   justify-content: center;
   gap: 80px;
 }
 .box{
   background-color: #FFF4E7;
   border:1px solid #FF900E;
   border-radius: 5px;
   padding: 30px 30px;
   text-align: center;
   animation: move 5s linear infinite;
 }
 @keyframes move{
   0%{
      transform: translate(0);
   }
   50%{
      transform: translate(60px);
   }
 }
 .box-title{
   font-weight: 600;
   font-size: 35px;
 }
 .box-description{
   font-weight: 600;
   font-size: 20px;
 }

 /*-------------------------
  blog styles 
  --------------------------*/
  .blog-section{
   margin: 150px 150px;
   text-align: left;
  }
  .blogs{
   display: flex;
   justify-content: center;
   gap: 40px;
  }
  .blog img{
   width: 500px;
   height: 400px;
   border-radius: 5px;
  }
  .blog-title{
   margin: 15px 0;
  }

/*--------------------------
 sponsor styles 
 ---------------------------*/
 .sponsor-contain{
   text-align: center;
   margin: 100px 400px 50px;
 }
 .section-title{
   font-weight: 700;
   font-size: 45px;
   margin-bottom: 30px;
 }
 .section-description{
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
 }
 .sponsor-images{
   display: flex;
   gap: 40px;
   justify-content: center;
   align-items: center;
 }

/*--------------------------
 copyright styles
 ---------------------------*/
 .copyright-text{
   color: #424242;
   background-color: #FFF4E7;
   font-weight: 400;
   font-size: 20px;
   text-align: center;
   margin: 100px 200px 100px;
   padding: 40px 180px;
   border-radius: 5px;
 }


 /*----------------------
  Mobile Responsive 
  -----------------------*/
  @media only screen and (max-width: 576px) {
      .copyright-text{
         width: 100%;
         margin: 10px;
         padding: 10px 20px;
      }



      .nav-and-banner, .team-member, .features, .some-fact, .blog-section, .sponsor{
         display: none;
      }
  }